body {
	font-family: 'Quicksand', sans-serif;
}

header {
	background-color: #E9967A;
	padding: 20px 0; 
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.icon {
	width: 150px;
	margin-left: 15%;
	border: 2px solid #FFFFFF;
	border-radius: 100%;
}

nav {
	position: absolute;
	top: 50%;
	right: 0%;
}

nav li {
	display: inline; /* exibir somente o tamanho do conteúdo dele */
	margin: 0 0 0 15px; /* topo, direita, embaixo, esquerda */
}

nav a {
	display: inline; 
	margin: 15px 15px; 
	text-transform: uppercase; 
	color: #2F4F4F;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none; 
}

nav a:hover {
	color: #DCDCDC;
	text-decoration: underline;
	cursor: pointer;
}

h2 {
	text-align: center;
	font-size: 33px;
	margin: 1em 1em;
	font-weight: bold;
}

.texto-principal {
	font-size: 16px;
	color: #2F4F4F;
	margin: 0 10%;
}

.fotos-pessoal {
	width: 940px;
	margin:  0 auto;
	padding: 50px 0;
}

.foto1 {
	position: absolute;
	margin-left: 10%;
	width: 30%;
	text-align: center;
	box-sizing: border-box; /* ajustou a borda */
	padding: 10px 10px;
	border: 2px solid #E9967A;	/* Tipos de borda: solid, dashed, dotted */
	border-radius: 20px;
}

.foto2 {
	position: relative;
	margin-left: 60%;
	width: 30%;
	text-align: center;
	box-sizing: border-box; /* ajustou a borda */
	padding: 10px 10px;
	border: 2px solid #E9967A;	/* Tipos de borda: solid, dashed, dotted */
	border-radius: 20px;
}

.foto1:hover {
	transform: scale(1.1);
	transition: 1s;
}

.foto2:hover {
	transform: scale(1.1);
	transition: 1s;
}

.chapeu {
	display: inline-block;
	margin-top: 2em;
	width: 30px;

}

h3 {
	display: inline;
	color: #2F4F4F;
	font-weight: bold;
	font-size: 20px;
	margin: 5px 0;
}

.formacoes {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 15px;
	color: #2F4F4F;
	line-height: 1.5;
}

.itens-formacoes:before {
	content: "∘";
}

.foto-trabalho {
	width: 3%;
}

.exp {
	padding-top: 15px;
	padding-bottom: 15px;
}

.exp li {
	margin-top: 1em;
	font-size: 15px;
	color: #2F4F4F;
	line-height: 1.5;
}

.certificado {
	padding-top: 15px;
	padding-bottom: 15px;
}

.certificado-foto {
	width: 4%;
}

.certificado-lista a {
	text-decoration: none;
	margin-top: 8px;
	margin-bottom: 15px;
	font-size: 15px;
	color: #2F4F4F;
	line-height: 1.5;
}

.certificado-lista a:hover {
	font-weight: bold;
	color: #2F4F4F;
	text-decoration: underline;
	cursor: pointer;
}

.principal-contato {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 50px 15px;
}

.contato {
	text-align: center;
	padding: 40px;
}

.contato li {
	padding: 15px 0;
}

.link-linkedin {
	text-decoration: none;
}

.link-linkedin:hover {
	font-weight: bold;
	font-size: 25px;
	color: #2F4F4F;
	text-decoration: underline;
	cursor: pointer;
	transition: 1s;
}

footer {
	margin-top: 37px;
	background-color: #FFA07A;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	padding: 20px; 
	text-align: center;
}